@charset "utf-8";

div.contents > div.text {
	margin-top: 7px;
}

div.contents > div.text > h1 {
	margin: 0;
	padding: 0;
	color: #0070c0;
	font-size: 32px;
}

div.contents > div.text > ol {
	margin: 0 0 12px;
	padding: 0 0 0 30px;
}

div.container.android > div.contents > div.text > ol {
	padding-left: 28px;
}

div.container.iPhone > div.contents > div.text > ol {
	padding-left: 32px;
}

div.contents > div.text > ol > li {
	margin: 8px 0;
}

div.contents > div.text > ol > li > span.caution {
	color: #d70035;
	font-size: 13px;
}
