@charset "utf-8";

div.contents > div.text > div {
	color: #0070c0;
	text-align: center;
	font-weight: bold;
}

div.contents > div.text > div.theme {
	font-size: 25px;
}

div.container.android > div.contents > div.text > div.theme {
	font-size: 30px;
}

div.container.iPhone > div.contents > div.text > div.theme {
	font-size: 28px;
}

div.contents > div.text > div.subtheme {
	margin: 0 0 20px 0;
	font-size: 13px;
}
