@charset "utf-8";

div.header > div > div {
	text-align: right;
	color: #ffffff;
}

div.header > div > div.time {
	width: 150px;
	margin: 25px 15px 0;
	float: right;
	font-size: 30px;
	display: none;
}

div.container.android > div.header > div > div.time {
	margin-top: 30px;
}

div.container.iPhone > div.header > div > div.time {
	margin-top: 22px;
}

div.contents > div {
	display: none;
}

div.contents > div > div.title > * {
	padding: 0;
	text-align: center;
	color: #0070c0;
}

div.contents > div > div.title > h1 {
	margin: 20px 0 5px;
	font-size: 36px;
}

div.container.iPhone > div.contents > div > div.title > h1 {
	margin-bottom: 0;
}

div.container > div.contents > div.page_m > div.title > h1 {
	margin-bottom: 15px;
}

div.container.android > div.contents > div > div.title > h1 {
	font-size: 42px;
}

div.contents > div > div.title > h2 {
	margin: 5px 0 20px;
	font-size: 24px;
}

div.container.iPhone > div.contents > div > div.title > h2 {
	margin-top: 0;
}

div.contents > div > h3 {
	margin: 27px 0;
	padding: 0;
	text-align: center;
	font-size: 32px;
	color: #0070c0;
}

div.contents > div > div.summary {
	width: 272px;
	margin: 25px auto;
	padding: 0;
	line-height: 1.5;
}

div.contents > div > div.summary > span.caution {
	color: #d70035;
}
