@charset "utf-8";

div.contents > div.page_q > table {
	border-collapse: collapse;
	width: 100%;
	max-width: 360px;
	margin: 0 auto;
}

div.contents > div.page_q > table td {
	background-color: #0070C0;
	border: 12px solid #ffffff;
	width: 20%;
	height: 20%;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	font-size: 28px;
	cursor: pointer;
	
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
