@charset "utf-8";

div.contents > div > h3 {
	width: 100%;
	max-width: 360px;
	margin: 10px auto 20px;
	padding: 0;
	font-size: 16px;
}

div.contents > div > h3 > span {
	margin: 0 0 0 20px;
}

div.contents > div.page_q > table {
	border-collapse: collapse;
	margin: 0 auto;
}

div.contents > div.page_q > table td {
/*	background-color: #0070C0;*/
	width: 60px;
	height: 60px;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	font-size: 28px;
	cursor: default;
	
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

div.contents > div.page_q > table td.q_1 {
	border: 5px solid #0070C0;
	cursor: pointer;
}

div.contents > div.page_q > table td.q_2 {
	background-color: #FF6600;
	border: 5px solid #0070C0;
}

div.contents > div.page_q > table td.q_3 {
	border: 5px solid #0070C0;
	cursor: pointer;
}
